.telemetry-code {
    margin: 15px 0 15px 5px;
    max-height: 70vh;
    overflow: auto;
}

.telemetry-code-item{
    padding: 0;
    margin: 0;
}

.telemetry-code-item-detail{
    font-size: 0.7em;
    padding: 0;
    margin: 0;
}